<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fe3hguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".characters.profile.ProfileActivity"></activity>
        <activity android:name=".characters.navigation.ChurchOfSeirosActivity" />
        <activity android:name=".characters.navigation.AshenWolvesActivity" />
        <activity android:name=".characters.navigation.GoldenDeerActivity" />
        <activity android:name=".characters.navigation.BlueLionsActivity" />
        <activity android:name=".characters.navigation.BlackEaglesActivity" />
        <activity android:name=".supports.SupportsTextActivity" />
        <activity android:name=".SupportsText" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>